.portlet-title{
	min-height: 55px;
    margin-bottom: 0;
    padding-left: 11px;
    background-color: #fff;
    padding-top: 10px;
}
.action-item{
	font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
}
.widget {
    background: #ffffff;
    clear: both;
    margin-bottom: 20px;
}
.widget-title {
    cursor: move;
    overflow: hidden;
    background: #ebeae8;
    height: 44px;
    line-height: 34px;
    border-bottom: 1px solid #ffffff;
    color: #1f64a0 !important;
}
.meta-boxes .widget-title {
    cursor: move;
    overflow: hidden;
    height: 35px;
    border-bottom: 1px solid #eeeeee;
    padding: 0 5px;
    background: none;
}
.widget-title > h4 {
    float: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;
    height: 35px;
    overflow: hidden;
    margin: 0;
}
.widget-title > h4 span {
    margin-left: 10px;
}
.widget-body {
    padding: 15px 15px;
    border-radius: 0 0 3px 3px;
    min-height: 200px;
}
.meta-boxes .widget-body {
    min-height: 0;
}
.btn-info {
    color: #fff!important;
}
.main-form {
    background: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
}
.control-label {
    font-weight: 500;
    margin-top: 1px;
}
.form-control {
    box-shadow: none!important;
    outline: none!important;
    font-size: .9rem;
}
.profile-userpic {
    background: #fff;
    border: 1px solid #ddd;
    height: 100%;
    margin-bottom: 0;
    padding: 25px;
    text-align: center;
}
.profile-userpic .mt-card-avatar {
    display: inline-block;
    float: none;
    width: 150px;
}
.mt-card-avatar img {
    display: inline-block;
    width: 150px;
}

.mt-card-avatar .mt-overlay{
    display: inline-block;
    width: 150px;
    border-radius: 50%;
        background-color: rgba(0,0,0,.7);
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all .4s ease-in-out;
}

.mt-element-overlay .mt-overlay-1:hover .mt-overlay {
    filter: alpha(opacity=100);
    opacity: 1;
    transform: translateZ(0);
}

.mt-element-overlay .mt-overlay-1 .mt-info {
    background-color: transparent;
    color: #fff;
    display: inline-block;
    filter: alpha(opacity=0);
    left: 0;
    margin: auto;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-decoration: none;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%) translateZ(0);
    -webkit-transform: translateY(-50%) translateZ(0);
    -ms-transform: translateY(-50%) translateZ(0);
    transition: all .2s ease-in-out;
}
.mt-element-overlay .mt-overlay-1 .mt-info>li {
    display: inline-block;
    list-style: none;
    margin: 0 3px;
}
.btn.btn-outline.default {
    background: none;
    border-color: #e1e5ec;
    color: #e1e5ec;
}
.edit-icon{
        display: inline-block;
    text-align: center;
    width: 1.25em;
        position: relative;
    top: 1px;
        line-height: 14px;
}
.profile-userpic .card-name{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}